<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service Upload</title>
    <link
      rel="stylesheet"
      href="./serviceupload.css"
      media="(min-width:600px)"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://www.w3schools.com/icons/fontawesome5_icons_users_people.asp"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

  </head>
  <body>
    <header class="header">
        <div >
            <a class="logo" href ="main.html">너생밖<a>
        </div>
        <a href="#" class="navbar__toggleBtn">
          <div class="menu">
            <li><a href="#">SERVICE</a></li>
            <li><a href="#">IDEA</a></li>   
            <a href="#"><i class="fa fa-bell"></i></a>
            <a href="mypage.html"><i class="fa fa-user"></i></a>  
          </div>
        </a>
      </header>

      <nav class="nav-menu">
        <a class="my" href="#">서비스 업로드</a>
    </nav>

    <section>
      <form action="" method="POST">
        <div>
          <span id="item">카테고리</span><br />
          <label><input type="checkbox" value="app" />앱</label>
          <label><input type="checkbox" value="web" id="chk" />웹</label>
          <label
            ><input type="checkbox" value="hardware" id="chk" />하드웨어</label
          >
          <label><input type="checkbox" value="others" id="chk" />기타</label>
        </div>
        <br />

        <div>
          <span id="item">서비스 이름</span><br />
          <input type="text" id="box1" style="width: 200px; height: 25px" />
        </div>
        <br />

        <div>
          <span id="item">베타 서비스</span
          ><span id="subitem">링크 또는 첨부 파일</span><br />
          <input type="text" id="box2" style="width: 400px; height: 28px" />
        </div>
        <br />

        <div>
          <span id="item">서비스 설명</span><br />
          <textarea id="box4" style="width: 600px; height: 200px"></textarea>
        </div>
        <br />

        <div>
          <span id="item">피드백 질문</span
          ><span id="subitem">3개 항목 선택</span><br />
          <label><input type="checkbox" />창의성</label>
          <label><input type="checkbox" id="chk" />상업성</label>
          <label><input type="checkbox" id="chk" />실용성</label>
          <label><input type="checkbox" id="chk" />공익성</label>
          <label><input type="checkbox" id="chk" />디자인</label>
        </div>
        <br /><br />

        <div>
          <span id="item">연락처 공개 여부</span><br />
          <label><input type="checkbox" />공개 (이메일)</label>
        </div>
        <br /><br />

        <!--업로드 버튼-->
        <button type="submit" style="font-size:15px">업로드</button>
      </form>
    </section>

    <br /><br /><br />
    <footer>
        <div id="ftdiv">너의 생각을 세상 밖으로 (너생밖)</div><br/>
  
        <div class="footer">
          <div id="parft">
              <div id="chift">Back-End<br/>
                  김용주님(dydrkfsla98@naver.com)<br/>
                  박상준님(pcpark98@naver.com)
              </div>
              <div id="chift">Front-End<br/>
                  소연수님(janu10.sys@gmail.com)<br/>
                  박준희님(qaz74792@gmail.com)<br/>
                  황수진님(sara5885@naver.com)
              </div>
              <div id="chift">
                  Mentor<br/>
                  홍여진님(hgo641@gmail.com)
              </div>
          </div>
        </div>
    </footer>
  </body>
</html>
